@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajustes base de la landing */
html,
body {
  @apply bg-brand-cream text-brand-dark;
}

body {
  margin: 0;
  font-family: theme("fontFamily.bricolage");
}
