@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajustes base de la landing */
html,
body {
  @apply bg-brand-bg text-brand-text;
}

body {
  margin: 0;
  font-family: theme("fontFamily.briklace");
}
